

<section class="text-start">

  <h1  class="lead text-center" style="margin-top: 10px;">Article 01 : DENOMINATION </h1>
  
   <p>Conformément à la loi du 1er juillet 1901 et le décret du 16 août 1901 portants sur le statut des associations, Il est fondé en date du 24 mai 2023 à Etampes, République française, entre les adhérents aux présents statuts une organisation non gouvernementale (ONG), dénommée SECOURS PLUS, SecPlus en sigle</p>

  <h1 class="lead text-center" style="margin-top: 10px;">Article 02 : SIEGE SOCIAL</h2>
  <h5 class="text-center"> SIEGE SOCIAL: <a href="#">11 Ter Rue du Pont Saint Jean, 91150 Etampes, France </a></h5>
  <p>Il peut être transféré à tout endroit sur le territoire français sur proposition du comité directeur de l’Assemblée générale qui décide à la majorité simple.</p>
  
  <h1 class="lead text-center" style="margin-top: 10px;">Article 03 : DUREE</h1>
  <p>L’ONG SECOURS PLUS est créée pour une durée indéterminée.</p>
 

  <h1 class="lead text-center" style="margin-top: 10px;">Article 04 : BUT ET OBJECTIF</h1>
</section>
<p>L’ONG SECOURS PLUS vise un appui substantiel à toute personne nécessiteuse, sans distinction d'âge, de sexe, d’origine ou de religion; plus précisément, ses actions consistent à :</p>

<ul>
  <li>Intervenir dans le domaine sanitaire en apportant un appui aux structures sanitaires notamment dans l
    es infrastructures, la logistique, la formation, les soins médicaux d'urgences, lutte contre le VIH, paludismes et autres pandémies ;</li>
  <li>Intervenir dans le domaine de l'éducation notamment facilité la scolarisation des enfants, en renforcement des capacités et mobilité de l'enseignement ;</li>
  <li>	Intervenir dans le domaine du développement socio-économique dont la formation et promotion des activités génératrices des revenus grâce à  l'entrepreneuriat local et de l’apprentissage des métiers ;</li>
  <li>	Intervenir dans l'accompagnement à l'insertion professionnelle des personnes en recherche d'orientation professionnelle ou des sans-emploi.</li>
</ul>

<h1 class="lead text-center" style="margin-top: 10px;">Article 05 : RAYON D’ACTIVITES </h1>
<p>L’ONG SECOURS PLUS exerce ses activités en France et en Afrique, plus précisément en République démocratique du Congo, soit directement, soit en collaboration avec les ONGs locales. </p>
<p>L'ONG SECOURS PLUS est une organisation à perspective internationale, il pourra étendre ses activités ultérieurement dans d’autres pays.   Ainsi d’autres bureaux de représentation peuvent être créés en d’autres villes et pays sur proposition du comité directeur de l’Assemblée générale qui décide à la majorité simple.</p>


<h1 class="lead text-center" style="margin-top: 10px;">Article 06 : MEMBRES</h1>
<p class="text-center">L’ONG SECOURS PLUS comprend quatre catégories de membres </p>
<ul>
  <li>1.	Membres fondateurs : ce sont les signataires des présents textes et ayant participé à la mise sur pieds de l’organisation. Sont membres fondateurs d’après l’acte constituant du 24 mai 2023.</li>
  <li>2.	Sont membres adhérents, toutes les personnes physiques ou morales intéressées par les activités de l'ONG SECOURS PLUS, et qui font une demande d’admission en qualité de membre. La demande d’adhésion est adressée au conseil d’administration. Celui-ci prend sa décision à la majorité des membres présents ; la décision est notifiée au requérant. Le conseil d’administration n’est pas tenu de motiver sa décision.</li>
  <li>3.	Membres sympathisants : Toute personne qui, ne pouvant pas adhérer à l’ONG SECOURS PLUS comme membre effectif, lui apporte cependant un soutien matériel, moral, juridique et /ou financier.</li>
  <li>4.	Membres d’Honneur : Le conseil d’administration pourra attribuer la qualité de membre d’honneur à toute personne physique ou morale apportant un soutien substantiel moral ou matériel (aide financière, matérielle, compétence scientifique ou pratique) à la réalisation de l’objet social de l’ONG SECOURS PLUS</li>
  <li></li>
</ul>
<h1 class="lead text-center" style="margin-top: 10px;">Article 07 : CONDITION D’ENTREE, DE SORTIE ET D’EXCLUSION </h1>

<h1 class="text-start" style="margin-top: 10px;">a)	Condition d’entrée </h1>
<p>Avoir au moins 18 ans d’âge, souscrire aux obligations du statut et du règlement d’ordre de L'ONG SECOURS PLUS, enfin introduire un dossier de demande d’adhésion.</p>
<p>La demande d’adhésion est introduite au secrétariat par la souscription d’un bulletin d’adhésion à soumettre à l’examen du conseil d’administration.  Ce dernier présente le dossier du postulant à l’Assemblée Générale.</p>
<p>La qualité de membre est strictement personnelle et n’est pas accessible ni transmissible pour cause de mort, sauf approbation de l’Assemblée Générale.</p>
<h1 class="text-start" style="margin-top: 10px;">b)		Condition de sortie :  </h1>
<p>La perte de la qualité de membre peut résulter : du retrait volontaire, de l’exclusion ou du décès.</p>

<p></p>
<h1 class="text-start" style="margin-top: 10px;">	c)	Du retrait volontaire </h1>
<p>Tout membre est libre de se retirer à tout moment de l’ONG SECOURS PLUS. La décision de retrait est adressée au conseil d’administration par lettre recommandée au secrétariat, avec avis de réception.  </p>
<h1 class="text-start" style="margin-top: 10px;">	d)	De l’exclusion </h1>
<p>L’exclusion d’un membre peut être décidée par le conseil d’administration statuant à la majorité de deux tiers des membres présents. L’exclusion ne peut avoir lieu que sur juste mot mettant les autres membres de l’ONG SECOURS PLUS dans l’impossibilité de continuer à mener l’œuvre commune avec le membre concerné.</p>
<p>En cas de manquement grave manifeste, le conseil d’administration apprécie souverainement la gravité des faits reprochés au membre menacé d’exclusion après l’avoir préalablement entendu.</p>
<p>Le membre démissionnaire ou exclu ne peut provoquer la dissolution de l’ONG SECOURS PLUS et n’a pas droit à la restitution ni au remboursement des biens et valeurs apportés à l’ONG SECOURS PLUS. Il en est de même des héritiers du membre décédé.</p>


<h1 class="lead text-center" style="margin-top: 10px;">Article 08 : LES RESSOURCES</h1>

<p>L’ONG SECOURS PLUS reçoit ses ressources par :</p>

<li>	Contribution et cotisation des membres</li>
<li>	Subsides, dons et legs faits par les membres et les tierces</li>
<li>	Activités d’autofinancement</li>
<li>	Crédits et autres financements extérieurs</li>

<h1 class="lead text-center" style="margin-top: 10px;">Article 09 : ORGANISATION DE L’ADMINISTRATION </h1>
<p>L’ONG SECOURS PLUS comprend trois organes principaux suivants</p> 
<ul >
  <li class="list-group-item">1.	L’Assemblée Générale, </li>
  <li class="list-group-item">
    2.	Le conseil d’administration,
  </li>
  <li class="list-group-item">
    3.	Le comité Directeur ou de coordination 
  </li>
  
</ul>


<h1 class="text-start" style="margin-top: 10px;">1° L’Assemblée Générale</h1>


<section class="px-2 py-3 my-2 text-center  border-bottom">
  
    <p class="lead text-start">
      C’est l’organe suprême de l’ONG SECOURS PLUS.
      
      <p>
       Elle se réunit en séance ordinaire le 01 janvier de chaque année et, à tout moment, en séance extraordinaire, chaque fois que l’intérêt de l’ONG SECOURS PLUS l’exige.
 
       L’Assemblée Générale est convoquée soit par le conseil d’administration qui en fixe en même temps l’ordre du jour, soit sur requête de la moitié des membres effectifs. 

    Chaque membre effectif en règle de cotisation a droit de vote aux Assemblées Générales et jouit d’une voix.
    En principe, les Assemblées Générales se tiennent au siège de l’ONG SECOURS PLUS. 

     La convocation est faite par le président et contient le texte des résolutions proposées au regard de l’ordre du jour. 

    L’Assemblée Générale ordinaire entend les rapports du conseil d’administration et du ou des auditeurs.
    Les Assemblées Générales sont dirigées par le président du conseil d’administration. 

    En cas d’empêchement du président, le vice-président assure la direction.
      Les décisions de l’assemblée générale sont prises à la majorité simple des voix quel que soit le nombre des membres présents. Sont réservés à sa compétence, les attributions    suivantes :
   </p>

    <ul style="text-align: start;">
        <li class="list-group-item">1.	La détermination et la fixation des programmes d’activités de l’ONG SECOURS PLUS ;</li>
        <li class="list-group-item">  2.	l’approbation de la gestion du programme au cours de l’exercice écoulé ;</li>
        <li class="list-group-item">   3.	les modifications aux présents statuts ;</li>
        <li class="list-group-item"> 4.	la nomination et la révocation des membres effectifs, membres du conseil d’administration et du collège des commissaires aux comptes ;</li>
        <li class="list-group-item">5.	la dissolution volontaire de l’ONG SECOURS PLUS, la nomination d’un ou plusieurs liquidateurs, l’affectation du patrimoine.</li>

    </ul>
   
     <p>L’Assemblée Générale décide à la majorité des membres effectifs l’exclusion et la nomination des liquidateurs.</p>
    
</section>

<h1 class="text-start">2° Le conseil d’administration </h1>
<p> Le conseil d’administration est l’organe d’exécution, de contrôle et décisionnel de l’ONG SECOURS PLUS. Il est composé d’un minimum de trois (3) membres choisis parmi les membres fondateurs. Il a les pouvoirs les plus étendus d’administration, de gestion et de disposition pour agir au nom de l’ONG SECOURS PLUS. Il a dans sa compétence tous les actes qui ne sont pas réservés à l’Assemblée Générale. Il est chargé :</p>

<ul>
  <li>-	De la gestion administrative courate de l’ONG SECOURS PLUS et de l’exécution des décisions de l’Assemblée Générale ;</li>
  <li>-	De l’élaboration des programmes, de la conception et de l’organisation des activités de l’ONG SECOURS PLUS ;</li>
  <li>-	De l’examen des demandes d’adhésion ;</li>
  <li>-	Du choix des méthodes de travail.</li>


</ul>

<p>Il représente l’ONG SECOURS PLUS auprès du monde extérieur y compris les instances et les institutions du pays. Il est composé :</p>
<li>-	D’un président ;</li>
<li>-	D’un vice-président ;</li>
<li>-	D’un secrétaire ;</li>
<li>-	Des conseilleurs.</li>

<p>Les membres du conseil d’administration qui sont élus par l’Assemblée Générale peuvent être remplacés à la suite d’un manquement ou d’une incapacité constatés avant la fin de leur mandat. Les membres du conseil d’administration désignés dans les statuts ne peuvent être révoqués ou remplacés que par la majorité absolue à l’Assemblée Générale. Le conseil d’administration se réunit deux fois par an et toutes les fois que les circonstances l’exigent.</p>
<p>Les sessions du conseil d’administration sont convoquées soit par l’initiative du président soit à l’initiative d’un de ses membres.</p>
<p>Les résolutions du conseil d’administration sont prises à la majorité simple des voix des membres présents. En cas de partage, la voix du président est prépondérante. Sauf urgence, le conseil ne peut valablement siéger qu’à la moitié des membres effectifs présents et avec obligation de la présence du président.</p>
<li>Les membres du conseil d’administration ne contractent aucune obligation personnelle relativement aux engagements de l’ONG SECOURS PLUS. Ils sont cependant responsables, conformément au droit commun, de l’exécution des fautes commises dans leur gestion.</li>  

<h1 class="text-start">3°  La direction et coordination</h1>

<p>C'est l’organe d’exécution de décisions de l’assemblée Générale et du conseil d'administration. Il dispose à cet effet, le pouvoir de gestion quotidienne nécessaire au bon fonctionnement l'ONG SECOURS PLUS.</p>

<h1 class="lead text-center" style="margin-top: 10px;">Article 10 : ORGANISATION DE L’ADMINISTRATION </h1>

<li>Les comptes annuels sont élaborés par le trésorier général et signé conjointement avec l’inspecteur aux comptes et le président et soumis à l’Assemblée Générale.</li>
<li>L’exercice social et comptable de l’ONG SECOURS PLUS commence le premier janvier et se termine le trente  et un décembre de chaque année.</li>
<li>L’ONG SECOURS PLUS établit en chaque fin de d’exercice annuel une situation des comptes dont le rapport est soumis à l’Assemblée Générale.</li>
<li>Le conseil d’administration doit, à la fin de chaque exercice social, clôturer les écritures comptables et dresser un inventaire contenant l’indication des valeurs mobilières et immobilières, les créances et les dettes de l’ONG SECOURS PLUS, et, en annexe, un résumé de tous les engagements, notamment les cautionnements et autres garanties, ainsi que les dettes et créances des membres effectifs et de toute personne chargée de la gestion vis-à-vis de l’ONG SECOURS PLUS.</li>

<h1 class="lead text-center" style="margin-top: 10px;">Article 11 :  MODE D’ETABLISSEMENT DES COMPTES ANNUELS</h1>

<li>Les comptes annuels sont élaborés par le trésorier général et signé conjointement avec l’inspecteur aux comptes et le président et soumis à l’Assemblée Générale.</li>
<li>	L’exercice social et comptable de l’ONG SECOURS PLUS commence le premier janvier et se termine le trente  et un décembre de chaque année.</li>
<li>L’ONG SECOURS PLUS établit en chaque fin de d’exercice annuel une situation des comptes dont le rapport est soumis à l’Assemblée Générale.</li>
<li>	Le conseil d’administration doit, à la fin de chaque exercice social, clôturer les écritures comptables et dresser un inventaire contenant l’indication des valeurs mobilières et immobilières, les créances et les dettes de l’ONG SECOURS PLUS, et, en annexe, un résumé de tous les engagements, notamment les cautionnements et autres garanties, ainsi que les dettes et créances des membres effectifs et de toute personne chargée de la gestion vis-à-vis de l’ONG SECOURS PLUS.</li>




<h1 class="lead text-center" style="margin-top: 10px;">Article 12:</h1>
<p>Les documents ci-après sont tenus par le trésorier :</p>
<ul>
  <li>1.	Un livre des comptes courants, contenant : -	les cotisations mensuelles des membres effectifs;
    -	les dons et legs.
     </li>
  
  <li>2.	Un livre de caisse sous forme de journal.</li>
</ul>

<h1 class="lead text-center" style="margin-top: 10px;">Article 13:</h1>
<p>Une semaine avant l’Assemblée Générale, les membres peuvent prendre connaissance des documents ci-après au siège social :</p>

<li>-	Le rapport du comité de direction ;</li>
<li>-	Le rapport du conseil d’administration ;</li>
<li>-	Le rapport des commissaires aux comptes ;</li>
<li>-	La liste des membres qui n’ont pas libéré leurs cotisations ;</li>
<li>-	Les demandes d’adhésion ;</li>
<li>-	Les notifications de retrait ;</li>
<li>-	Les propositions d’exclusion.</li>



<h1 class="lead text-center" style="margin-top: 10px;">Article 14 : DU PATRIMOINE </h1>
<p>L’ONG SECOURS PLUS peut acquérir à titre de jouissance ou de propriété tout bien meuble ou immeuble. </p>
<h1 class="lead text-center" style="margin-top: 10px;">Article 15 : Dissolution </h1>
<li>L’ONG SECOURS PLUS peut être dissoute en tout temps par l’Assemblée Générale délibérant dans des conditions requises pour les modifications aux statuts, c'est-à-dire deux tiers des membres présents.</li>
<li>L’ONG SECOURS PLUS n’est peut pas être dissoute par la mort, l’interdiction, la faillite ou la déconfiture d’un membre.</li>
<li>En cas de dissolution de l’ONG SECOURS PLUS, l’Assemblée Générale a les droits les plus étendus pour désigner le ou les liquidateurs, déterminer leurs pouvoirs et émoluments et fixer le mode de liquidation. La même majorité simple est exigée pour la nomination des liquidateurs. A défaut de désignation des liquidateurs, les membres du conseil d’administration seront à l’égard des tiers, considérés comme liquidateurs.</li>


<h1 class="lead text-center" style="margin-top: 10px;">Article 16 : Affectation du patrimoine </h1>
<p>L’Assemblée Générale décidera enfin de la destination du solde du patrimoine après liquidation, en lui donnant une affectation aussi proche que possible de l’objet principal de l’ONG SECOURS PLUS, notamment en le remettant à une ONG SECOURS PLUS sans but lucratif œuvrant dans le domaine de la justice.</p>

<h1 class="lead text-center" style="margin-top: 10px;">Article 17 : DISPOSITIONS FINALES</h1> 
<p>A ces fins l’ONG SECOURS PLUS pourra :</p>
<li>-	Collaborer avec toutes organisations nationales et internationales dont l’activité pourra contribuer à la réalisation ses objectifs ;</li>
<li>-	Recevoir tous financements, fonds, biens mobiliers, sous forme de contribution, dons, legs, subventions ;</li>
<li>-	Acquérir ou prendre à bail tout bien mobilier ou immobilier utile ou nécessaire à la réalisation de son objectif social.</li>
<li></li>
<li></li>

<h1 class="lead text-center" style="margin-top: 10px;">Article 18 : </h1>
<p>Toutes les formalités requises par la loi à la suite des présents statuts seront faites à la diligence et sous la responsabilité du président du conseil d’administration.</p>

<h1 class="lead text-center" style="margin-top: 10px;">Article 19 : </h1>
<p>Pour tout ce qui n’est pas prévu dans les présents statuts, l’ONG SECOURS PLUS est régie par les dispositions de la législation en vigueur en République de France concernant les ONG et  les a.s.b.l. et par les dispositions de son Règlement d'ordre Intérieur.</p>

<h1 class="lead text-center" style="margin-top: 10px;">Article 20 : </h1>
<p>Toutes les contestations qui pourraient surgir pendant la durée de l’ONG SECOURS PLUS ou lors de sa liquidation seront de la compétence du Tribunaux français.</p>
<p>Toutes clauses des présents statuts qui seraient contraires à des dispositions impératives de la législation en vigueur en République Française seront considérées comme nulle et non écrites et toutes dispositions impératives de ladite législation ne figurant pas aux présents statuts seront considérées comme faisant partie intégrante.</p>
<h1 class="lead text-center" style="margin-top: 10px;">Article 21 : </h1>
<p>Les présents statuts ne peuvent être modifiés que par la majorité des deux tiers des membres effectifs réunis en Assemblée Générale.</p>
<h1 class="lead text-center" style="margin-top: 10px;">Article 22 : </h1>
<p>Les présents statuts entrent en vigueur à la date de leur approbation par les membres effectifs. </p>


<br>
<p>  Fait à Etampes, le 24 mai 2023 </p>






<section class="px-4 py-5 my-5 text-center shadow-lg border-bottom">
  <p class="text-center mb-3 mt-3">Faisons tous avancer la communauté pour le bien de tous</p>
  <!-- <img
    class="logo-navbar align-items-center mr-20"
    src="/img/congoflag.png"
    width="240"
    height="150"
    alt="Service de transformation digitale Congolaise"> -->
  <img
    class="logo-navbar align-items-center mr-20"
    src="/img/splogov.png"
    width="150"
    height="150"
    alt="Service de transformation digitale Congolaise"
  />
</section>
 
    



