<h1 class="text-center">Contacte-nous sur les liens suivants:</h1>
<br />


 
<!-- <Section class=" col-lg-4 col-md-6 col-sm-12 col-xs-12 d-flex-inline flex-row shadow-lg border-bottom">

  <div class=" cards" style="width: 100%;">
  <div class="card-body">
    <p class="card-text">Voix des membres</p>
    <h5 class="card-title">Directeur Administrateur</h5>
    <p class="card-text">Mobile: +xxxxxxxxxxxx</p>
<<<<<<< HEAD
    <p class="card-text">Email: info@maison tumaini.com</p>
=======
    <p class="card-text">Email: info@SP-ONG.com</p>
>>>>>>> 6427d765821a3935b269ba7a9dace8583b6c64ae
  </div>
  <hr />
  
  <div class="card-body">
    <p class="card-text">Equipe Techniques</p>
    <h5 class="card-title">Directeur Administrateur</h5>
    <p class="card-text">Mobile: +xxxxxxxxxxxxx</p>
<<<<<<< HEAD
    <p class="card-text">Email: info@maison tumaini.com</p>
=======
    <p class="card-text">Email: info@SP-ONG.com</p>
>>>>>>> 6427d765821a3935b269ba7a9dace8583b6c64ae
  </div>
  <hr />
  <div class="card-body">
    <p class="card-text">Admin DR Congo Kin</p>
    <h5 class="card-title">DG</h5>
    <p class="card-text">Mobile: +xxxxxxxxxxxx</p>
    <p class="card-text">Email: info@maison tumaini.com</p>
  </div>

  </div>
</Section> -->

<div class="row">
  <!-- <a href="<%= whatsappLink %>" target="_blank">Envoyer un Message WhatsApp</a> -->
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title shadow ">Directeur Générale</h5>
        <h5 class="card-title">Bureau Central </h5>
        <p class="card-text"><p class="card-text">Telepho: xxx xxx xxxx xxxx</p></p>
        <p class="card-text">Email: info@secplus.com</p>
        <a href="<%= whatsappLink %>" class="btn btn-success <text-white></text-white>  shadow-lg  border-bottom">Envoyer un Message WhatsApp directement </a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title shadow-lg  ">Information Générale</h5>
        <h5 class="card-title">Administrateur</h5>
        <p class="card-text">Mobile: 33 6 05 97 07 56 </p>
        <p class="card-text">Email: info@secoursplus.com</p>
        <a href="<%= whatsappLink %>" class="btn btn-success <text-white></text-white>  shadow-lg  border-bottom">Envoyer un Message WhatsApp directement </a>
      </div>
    </div>
  </div>
</div>