<section class="row flex-lg-row jumbotronjpr text-center g-4 py-4 mb-4 shadow-lg border-bottom" style="margin-top:10px; ">
    <h1 style="margin-top: 0px" class=" btn-info text-center bg-light text-dark ">L'argent ne pousse pas sur les arbres, mais la planification financière avec la Maison tumaini vous permettra d'augmenter vos revenus. </h1>
    <p style="margin-top: 0px, ">
      Visitez notre bureau aujourd'hui ou envoyez-nous un message directement en utilisant les liens sur ce site  et voyez comment nous pouvons vous aider à améliorer vos finances. <br /> 
      Nous sommes spécialisés dans le coaching individuel sur la façon de démarrer et de gérer une entreprise rentable <br />
      Nous fournissons des réseaux d'affaires et des compétences en matière de partenariat.
      Comment investir, comment démarrer une petite entreprise - PME
      
    </p>
  </section>
  <div class="row flex-lg-row-reverse align-items-center  clearfix g-5  px-4 mb-4  ">
    
    <div class="col-12 col-lg-6 loginimage">
        
      <img src="/img/fina1.jpg" width="75%"  class="d-block mx-lg-auto img-fluid  shadow border-radius justify-content-center" style="margin-top: 15px; border-radius: 30px;" loading="lazy" alt="Maison Tumaini">
      <p style="text-align: center; padding: 5px;" >Formation financière Maison Tumaini Kalonge 2023 </p>
    </div>
    
    <div class="col-12 col-lg-6">
      <img src="/img/exec.jpg" width="75%"  class="d-block mx-lg-auto img-fluid  shadow border-radius justify-content-center" style="margin-top: 15px; border-radius: 30px;" loading="lazy" alt="Maison Tumaini">
      <p style="text-align: center; padding: 5px;" >Formation financière Maison Tumaini Kalonge 2023 </p>
    </div>
  </div>
  <div class="row flex-lg-row-reverse align-items-center  clearfix g-5  px-4 mb-4  ">
    
    <div class="col-12 col-lg-6 loginimage">
        
      <img src="/img/formation1.jpg" width="75%"  class="d-block mx-lg-auto img-fluid  shadow border-radius justify-content-center" style="margin-top: 15px; border-radius: 30px;" loading="lazy" alt="Maison Tumaini">
      <p style="text-align: center; padding: 5px;" >Formation financière Maison Tumaini Kalonge 2023 </p>
    </div>
    
    <div class="col-12 col-lg-6">
      <img src="/img/formation2.jpg" width="75%"  class="d-block mx-lg-auto img-fluid  shadow border-radius justify-content-center" style="margin-top: 15px; border-radius: 30px;" loading="lazy" alt="Maison Tumaini">
      <p style="text-align: center; padding: 5px;" >Formation financière Maison Tumaini Kalonge 2023 </p>
    </div>
  </div>