<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h style="color: rgb(239, 7, 7);">Oh la la! Peut-être avez-vous entré de mauvais détails</h>
    <hr />
    <p><%= message %></p>
    <p>Vérifiez vos coordonnées ou Veuillez vérifier votre courrier électronique et cliquer sur le lien fourni pour confirmer, puis réessayez</p>

   

</body>
</html>
