


<div class="row flex-lg-row-reverse jumbotronSP-ONG align-items-center g-5 py-4 mb-4 shadow border-bottom" style="margin: 5px; padding: 5px;">
  <div class="col-12 col-lg-4  p-2 text-dark bg-opacity-50" >
    <img src="/img/splogov.png" alt=" Secours Plus " style="padding-bottom: 15px; width: 99%;">
  </div>

  <div class="col-12 col-lg-8" style="margin-top: 0px;">
    <p class="text-start">
       
      </p>
    <h1 class="text-start text-start bg-light" style="font-size:x-large ">
      SECOURS PLUS
    </h1>

      <h4 class="lead">
        
        Vise un appui substantiel à toute personne nécessiteuse, sans distinction d'âge, de sexe, d’origine ou de religion; plus précisément, ses actions consistent à :
      </h4>

        <ul>
          <li>Intervenir dans le domaine sanitaire en apportant un appui aux structures sanitaires notamment dans l
            es infrastructures, la logistique, la formation, les soins médicaux d'urgences, lutte contre le VIH, paludismes et autres pandémies ;</li>
          <li>Intervenir dans le domaine de l'éducation notamment facilité la scolarisation des enfants, en renforcement des capacités et mobilité de l'enseignement ;</li>
          <li>	Intervenir dans le domaine du développement socio-économique dont la formation et promotion des activités génératrices des revenus grâce à  l'entrepreneuriat local et de l’apprentissage des métiers ;</li>
          <li>	Intervenir dans l'accompagnement à l'insertion professionnelle des personnes en recherche d'orientation professionnelle ou des sans-emploi.</li>
        </ul>
        
     
    <div class="d-grid gap-2 d-md-flex p-10 justify-content-md-start">
      <!-- <a href="/login" class="btn btn-primary btn-dark btn-lg px-4 me-md-2"
        >Ce que disent les membres</a> -->

      <a href="/api/users/register" class="btn bg-success text-warning me-md-2"
        > Enregistrez-vous pour devenir  membres et beneficier a plus </a
      >
    </div>
  </div>
</div>

<!-- Categories Start -->
<section class="row flex-lg-row jumbotronjpr text-center g-4 py-4 mb-4 shadow-lg border-bottom" style="margin-top:10px; ">
  <h1 style="margin-top: 0px" class=" btn-info text-center bg-light text-dark border-bottom">RAYON D’ACTIVITES  ?</h1>
  <p style="margin-top: 0px, ">
    L’ONG SECOURS PLUS exerce ses activités en France et en Afrique, plus précisément en République démocratique du Congo, soit directement, soit en collaboration avec les ONGs locales.     Rejoignez-nous dès aujourd'hui pour un avenir meilleur. <br />

      </p>
</section>

<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 jumbotronmaison tumaini shadow-lg border-bottom" style="margin-top:0px">
  <a href="educfina" class="col text-center category__link">
      
    <div class="category__img shadow">
      <img  src="/img/LOGO4.png"  width="130" height="130" alt="maison tumaini" loading="lazy"  />
    </div>

    <div class="pt-1">L’ONG SECOURS PLUS exerce ses activités en France et en Afrique</div>
  </a>
  <a href="tretance" class="col text-center category__link">
   

    <div class="category__img shadow">
      <img  src="/img/Sante.png"  width="130" height="130" alt="maison tumaini" loading="lazy"  />
    </div>
    <div class="pt-1">
      	Intervenir dans le domaine sanitaire 
    </div>
  </a>

  <a href="tretance" class="col text-center category__link">
    
    <div class="category__img shadow">
      <img  src="/img/ecole.png"  width="130" height="130" alt="maison tumaini" loading="lazy"  />
    </div>
    <div class="pt-1">
      Intervenir dans le domaine de l'éducation
    </div>
  </a>

  <a href="tretance" class="col text-center category__link">
   
    <div class="category__img shadow">
      <img  src="/img/formation2.jpg"  width="150" height="100" alt="maison tumaini" loading="lazy"  />
    </div>
    <div class="pt-1">
      Intervenir dans le domaine du développement socio-économique 
    </div>
  </a>

  <a href="about" class="col text-center category__link">
    
    <div class="category__img shadow">
      <img  src="/img/formation2.jpg"  width="140" height="100" alt="maison tumaini" loading="lazy"  />
    </div>
    <div class="pt-1">Intervenir dans l'accompagnement à l'insertion professionnelle </div>
  </a>
   <a href="about" class="col text-center category__link">
      
    <div class="category__img shadow">
      <img  src="/img/gilber.png"  width="130" height="130" alt="maison tumaini" loading="lazy"  />
    </div>

    <div class="pt-1">Autres Services </div>
  </a>
 
  

</div>







