<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Post</title>
  </head>
  <body>
    <h1>Create New Post</h1>
    <form action="/api/posts/new-post" method="POST">
      <label for="title">Titres :</label>
      <input type="text" id="title" name="title" required />
      <br />
      <label for="content">Votre messages:</label>
      <textarea id="content" name="content" required></textarea>
      <br />
      <button type="submit">Create Post</button>
    </form>
  </body>
</html>
