
<!DOCTYPE html>
<html>
<head>
    <title>Nouveau membres</title>
</head>
<body>
    <h1>Welcome, <%= userName %>!</h1>
    <p>Merci d'avoir rejoint notre communauté.</p>
    
    

    
</body>
</html>
