



<h1>Fantastique, Vérifiez votre e-mail de temps en temps, l'e-mail arrive dans le courrier indésirable ou dans la boîte aux lettres spam, veuillez vérifier attentivement </h1>
<p><%= successMessage %></p