<div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-2x"></i>
      <div>
<<<<<<< HEAD
        <img src="/img/logo.png" alt="maison tumaini" style="padding: 5px; width: 15%;">
=======
        <img src="/img/logo.png" alt="SP-ONG" style="padding: 5px; width: 15%;">
>>>>>>> 6427d765821a3935b269ba7a9dace8583b6c64ae
           
             
    </a>
      </div>
      <h1>Welcome,Bienvenue, Karibu : <%= userName %></h1>
      <h1 class="display-3">Page réservée aux membres! </h1>
      <p class="secret-text">Messages, photos, videos, commentaires .... .</p>
      <hr />
  
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
      <a class="btn btn-dark btn-lg" href="/compose" role="button"
        >Ecrivez vos commentaires ici</a
      >
      
    </div>
  </div>
  
<<<<<<< HEAD
  <!-- <section class="text-center shadow-lg border-bottom">
=======
  <section class="text-center shadow-lg border-bottom">
>>>>>>> 6427d765821a3935b269ba7a9dace8583b6c64ae
    <h1 class="h90" style="padding: 10px;">Publications et Commentaires publiques</h1>
    <% posts.forEach(function(post){ %>
    
      <h1 class="posttitle"><%=post.title%></h1>
      <p class="shadow-lg border-bottom">
        <%=post.content.substring(0, 200) + " ..."%>
        <a href="/posts/<%=post._id%>">Read More</a>
      </p>
    
      <% }) %>
  
  
  
<<<<<<< HEAD
  </section> -->
=======
  </section>
>>>>>>> 6427d765821a3935b269ba7a9dace8583b6c64ae
