<section class="row flex-lg-row jumbotronjpr text-center g-4 py-4 mb-4 shadow-lg border-bottom" style="margin-top:10px; ">
  <h1 style="margin-top: 0px" class=" btn-info text-center bg-light text-dark border-bottom">Contrat et sous-traitances avec Maison Tumaini; Mise à disposition des offres:</h1>
  <p style="margin-top: 0px, ">
    Ici a la Maison Tumaini, nous nous efforçons de maintenir la qualité et l'intégrité de nos services auprès de tous nos clients. Tout contrat d'entreprise ou de sous-traitance est traité avec un haut niveau de contrôle pour s'assurer que le client a une bonne expérience et qu'il continue à faire des affaires avec nous.  
Nous disposons des compétences nécessaires et sommes spécialisés dans la réalisation de projets dans les secteurs industriels suivants : <br />
    
  </p>
</section>


<div class="row">
  <!-- <a href="<%= whatsappLink %>" target="_blank">Envoyer un Message WhatsApp</a> -->
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title shadow "> Maintenance régulière de la route Madirhirhi </h5>
       <img src="/img/maintenance.jpg" width="75%"  class="d-block mx-lg-auto img-fluid loginimage shadow border-radius justify-content-center" style="margin-top: 15px; border-radius: 30px;" loading="lazy" alt="Maison Tumaini">
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title shadow-lg  ">Compactage</h5>
        <img src="/img/contrat4a.jpg" width="75%"  class="d-block mx-lg-auto img-fluid loginimage shadow border-radius justify-content-center" style="margin-top: 15px; border-radius: 30px;" loading="lazy" alt="Maison Tumaini">
      </div>
    </div>
  </div>
</div>


<div class="row">
 
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title shadow ">Système de drainage</h5>
       <img src="/img/contrat8a.jpg" width="75%"  class="d-block mx-lg-auto img-fluid loginimage shadow border-radius justify-content-center" style="margin-top: 15px; border-radius: 30px;" loading="lazy" alt="Maison Tumaini">
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title shadow-lg  ">Réhabilitation des bâtiments scolaires</h5>
        <img src="/img/contrat9a.jpg" width="75%"  class="d-block mx-lg-auto img-fluid loginimage shadow border-radius justify-content-center" style="margin-top: 15px; border-radius: 30px;" loading="lazy" alt="Maison Tumaini">
      </div>
    </div>
  </div>
</div>
<div class="row">
  
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title shadow ">Chaussée et travaux de terrassement</h5>
       <img src="/img/pav.jpg" width="75%"  class="d-block mx-lg-auto img-fluid loginimage shadow border-radius justify-content-center" style="margin-top: 15px; border-radius: 30px;" loading="lazy" alt="Maison Tumaini">
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title shadow-lg  ">SOS Madirhirhi</h5>
        <img src="/img/emery3.jpg" width="75%"  class="d-block mx-lg-auto img-fluid loginimage shadow border-radius justify-content-center" style="margin-top: 15px; border-radius: 30px;" loading="lazy" alt="Maison Tumaini">
      </div>
    </div>
  </div>
  <p class="px-4">Maison Tumani croit que les routes sont les puits de toute économie, et à moins qu'un investissement raisonnable ne soit fait pour construire et entretenir notre route Madirhirhi. Il n'y aura pas d'économie</p>
</div>
<h1 style="margin-top: 0px" class=" btn-info text-center bg-light text-dark border-bottom">L'agriculture et l'élevage</h1>

<div class="row">
  
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title shadow ">cultures de haricots</h5>
       <img src="/img/farmer.jpg" width="75%"  class="d-block mx-lg-auto img-fluid loginimage shadow border-radius justify-content-center" style="margin-top: 15px; border-radius: 30px;" loading="lazy" alt="Maison Tumaini">
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title shadow-lg  ">Matoke and Casava</h5>
        <img src="/img/agri.jpg" width="75%"  class="d-block mx-lg-auto img-fluid loginimage shadow border-radius justify-content-center" style="margin-top: 15px; border-radius: 30px;" loading="lazy" alt="Maison Tumaini">
      </div>
    </div>
  </div>
</div>
<div class="row">
 
  <!-- <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title shadow ">Directeur Financière</h5>
       <img src="/img/pav.jpg" width="75%"  class="d-block mx-lg-auto img-fluid loginimage shadow border-radius justify-content-center" style="margin-top: 15px; border-radius: 30px;" loading="lazy" alt="Maison Tumaini">
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title shadow-lg  ">Information Generale</h5>
        <img src="/img/ecole1.jpg" width="75%"  class="d-block mx-lg-auto img-fluid loginimage shadow border-radius justify-content-center" style="margin-top: 15px; border-radius: 30px;" loading="lazy" alt="Maison Tumaini">
      </div>
    </div>
  </div>
</div> -->



    
 