<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
<<<<<<< HEAD
    <% if (userName) { %>
        <h1>Welcome,Bienvenue, Karibu : <%= userEmail %></h1>
    <% } else { %>
        <h2>Welcome Back, Bienvenue, Karibu Tena ! Esepeli komona yo lisusu</h2>
    <% } %>
    <h1 class="display-3">Page réservée aux membres! </h1>
      <p class="secret-text">Messages, photos, videos, commentaires .... .</p>
      <hr />
  
      <a class="btn btn-light btn-lg" href="/" role="button">Log Out</a>
      <a class="btn btn-dark btn-lg" href="/" role="button"
        >Ecrivez vos commentaires ici</a
      >
    <a class="btn bg-dark text-success"  href="/">   Fait un tour du website des  maison tumaini pour en savoir plus.</a>
=======
    <h1>Welcome back, <%= userName %>!</h1>
>>>>>>> 6427d765821a3935b269ba7a9dace8583b6c64ae
</body>
</html>
